/SCANNER/Scanner_PCL/nbproject/private/
/SCANNER/Scanner_PCL/dist/
/SCANNER/Scanner_PCL/build/
/SCANNER/JFLEX_examples/nbproject/private/
/SCANNER/JFLEX_examples/build/
/EJEMPLOS/Compilers/nbproject/private/
/EJEMPLOS/Compilers/dist/
/EJEMPLOS/Compilers/build/
/EJEMPLOS/PascalCompiler/nbproject/private/
/EJEMPLOS/PascalCompiler/build/